:root {
  background-image: url("https://wallpaperscraft.com/image/aurora_macro_purple_abstract_flower_76315_3840x2160.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  font: 1em sans-serif;
}
