
button {
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  cursor: pointer;
}

button:focus {
  outline: none;
}


img {
  height: 100px;
  width: 100px;
}


ul {
  list-style-type: none;
}

p{
  padding-top: 10px;
  margin-left: 40px;
}

.img-circle{
  float: left;
}

.eventEntry{
  clear: both;
  border: 1px red solid;
  margin-bottom: 1em;
}
