:root {
  background-image: url("https://wallpaperscraft.com/image/aurora_macro_purple_abstract_flower_76315_3840x2160.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  font: 1em sans-serif;
}

button {
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
